---
export const metadata = {
    titulo: "Como entender de Tecnologia",
    descricao: "Em um mundo cada vez mais digital e interconectado, a tecnologia desempenha um...",
    foto: "https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_1280.jpg",
    descricaoImg: "Teste de descrição de imagem",
    date: "2025-03-27",
    link: "/articles/artigo2"
}
---

    <h1>Teste 2</h1>