---
export const metadata = {
    titulo: "Tecnologia e Inovação",
    descricao: "A tecnologia é a aplicação do conhecimento científico para resolver problemas...",
    foto: "https://cdn.pixabay.com/photo/2024/10/14/17/34/ai-generated-9120502_960_720.png",
    descricaoImg: "Homem e com as mãos em um holograma",
    date: "2025-04-04",
    link: "/articles/artigo1"
}
---

    <h1>Teste</h1>