---
export const metadata = {
    titulo: "Alimentação e Prevenção: A Base da Sua Saúde",
    descricao: "A alimentação é o primeiro passo para uma vida longa e saudável. O que você coloca no seu prato...",
    foto: "https://cdn.pixabay.com/photo/2016/06/30/22/23/eggs-1490054_1280.jpg",
    descricaoImg: "Uma mesa com alimentos saudáveis. Pão, ovos e leite",
    date: "2025-03-27",
    link: "/articles/artigo15"
}
---

    <h1>Teste</h1>