article section {
    margin: 48px 0;
}

article li strong {
    color: rgb(21, 69, 131);
}

article img {
    display: flex;
    margin: 0 auto;
    width: 100%;
    height: 50vh;
    object-fit: cover;
    border-radius: 4px;
}

article h2 {
    margin-bottom: 16px;
}

article h3 {
    margin-bottom: 4px;
}

article ul li {
    list-style:  disc;
}

article ol li {
    list-style: decimal;
}

article ol ul li {
    list-style: circle;
}

article li {
    margin: 8px 0px 8px 32px;
}