* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-decoration: none;
    list-style: none;
}

body {
    background-color: whitesmoke;
    color: rgb(23, 36, 48);
}

::selection {
    color: white;
    background-color: rgba(21, 69, 131, 0.945);
}