---
const { children, templateCol = '1fr 1fr 1fr'} = Astro.props;
---

<div class="container" style={`grid-template-columns: ${templateCol}`}>
    <slot />
</div>

<style>
    div {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 22px;
        width: 1200px;
        margin: 0 auto;
    }

    @media (max-width: 768px) {
        div {
            grid-template-columns: 1fr;
            width: 100%;
        }
    }
</style>