---
import BlogArticle from "../components/BlogArticle.astro";
import Container from "../components/Container.astro";
---

<Container>
    <div class="grid">
        <BlogArticle link="/" date="2025-09-20" foto="https://cdn.pixabay.com/photo/2024/10/14/17/34/ai-generated-9120502_960_720.png" descricaoImg="Teste de descricao de img" descricao="O que é Tecnologia? A tecnologia é a aplicação do conhecimento científico para resolver problemas..." titulo="Tecnologia e Inovação"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2015/05/26/23/52/technology-785742_1280.jpg" descricaoImg="" descricao="Em um mundo cada vez mais digital e interconectado, a tecnologia desempenha um..." titulo="Como entender de Tecnologia"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/06/21/16/57/tomatoes-5325850_1280.jpg" descricaoImg="" descricao="A culinária é uma paixão que pode ser transformada em uma fonte de renda próspera. Com..." titulo="Como ganhar dinheiro com Culinária"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2016/11/22/23/29/meditate-1851165_1280.jpg" descricaoImg="" descricao="A espiritualidade não se limita apenas a momentos de oração, culto ou reflexão religiosa. Ela..." titulo="Espiritualidade em Todos os Momentos"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2017/08/07/20/17/craftsmanship-2607408_1280.jpg" descricaoImg="" descricao="O artesanato é uma forma de arte que envolve a criação de objetos com as mãos e..." titulo="Guia Completo e Definitivo para Artesanato"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2016/06/03/13/57/digital-marketing-1433427_1280.jpg" descricaoImg="" descricao="Se você está procurando uma maneira comprovada de ganhar dinheiro online, o marketing de afiliados pode ser..." titulo="Marketing de Afiliados para Ganhar Dinheiro"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/12/16/17/48/computer-5837248_960_720.jpg" descricaoImg="" descricao="O mercado de produtos digitais está em ascensão e se tornou uma das formas mais eficazes de ganhar dinheiro..." titulo="Como Vender Produtos Digitais"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2019/10/06/10/03/team-4529717_1280.jpg" descricaoImg="" descricao="Quando falamos sobre longevidade, muitas vezes focamos apenas em aspectos..." titulo="Como Seu Entorno Afeta Sua Longevidade"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2012/02/29/11/51/beautiful-18616_1280.jpg" descricaoImg="" descricao="A forma como você vê a vida e o mundo ao seu redor pode ter um impacto profundo na sua saúde..." titulo="Mente Positiva na Longevidade"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2023/03/05/17/47/meditate-7831951_1280.jpg" descricaoImg="" descricao="A longevidade não é apenas uma questão de corpo e mente, mas também de equilíbrio espiritual..." titulo="A Base para uma Longevidade Plena"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2018/02/28/14/21/portrait-3188101_1280.jpg" descricaoImg="" descricao="À medida que envelhecemos, a saúde mental se torna tão importante quanto a saúde física..." titulo="Como Manter a Mente Jovem e Viva"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/11/03/15/32/doctor-5710160_1280.jpg" descricaoImg="" descricao="A prevenção é, sem dúvida, o segredo mais poderoso para uma vida longa e saudável..." titulo="Como Evitar a Doença Antes que Ela Apareça"  />

        <BlogArticle link="/" date="" foto="/images/blog/aculpuntura.jpg" descricaoImg="" descricao="Você já se sentiu cansado sem saber por quê? Ou notou um aumento no estresse e falta de..." titulo="Acupuntura para Recuperação e Equilíbrio"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/06/20/15/30/yoga-5321354_1280.jpg" descricaoImg="" descricao="Sabemos que, à medida que envelhecemos, o corpo e a mente passam a exigir mais..." titulo="Exercícios para o Corpo e a Mente"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2016/06/30/22/23/eggs-1490054_1280.jpg" descricaoImg="" descricao="A alimentação é o primeiro passo para uma vida longa e saudável. O que você coloca no seu prato..." titulo="Alimentação e Prevenção: A Base da Sua Saúde"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2015/09/25/14/38/old-age-957492_1280.jpg" descricaoImg="" descricao="Você já se perguntou por que algumas pessoas parecem envelhecer de forma diferente?..." titulo="O Guia Definitivo para a Longevidade"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2015/07/11/19/23/book-841171_1280.jpg" descricaoImg="" descricao="Domine Seus Estudos: Técnicas Avançadas para Maximizar a Memorização, Foco e..." titulo="Guia Completo de Técnicas de Estudo"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/11/04/10/45/school-5711987_1280.jpg" descricaoImg="" descricao="Nos últimos anos, a criação de negócios online tem se tornado uma das formas mais acessíveis..." titulo="Como Criar um Negócio Online de Sucesso"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2016/12/13/07/25/email-1903444_1280.jpg" descricaoImg="" descricao="O e-mail marketing continua sendo uma das estratégias mais eficazes para engajar o público..." titulo="Como usar o E-mail para Engajar Seu Público"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2019/12/18/13/56/glasses-4704055_1280.jpg" descricaoImg="" descricao="A preparação para concursos públicos ou exames importantes pode ser um grande desafio..." titulo="Como Montar um Plano de Estudo Eficiente"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2019/06/25/08/17/digital-marketing-4297723_1280.jpg" descricaoImg="" descricao="Nos dias de hoje, ter uma presença online sólida é essencial para qualquer negócio, pequeno ou grande, e até..." titulo="Marketing Digital para Iniciantes"  />

        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2020/10/21/18/07/laptop-5673901_1280.jpg" descricaoImg="" descricao="Nos dias de hoje, a tecnologia está em constante evolução e dominar suas ferramentas é..." titulo="Como Iniciar um Curso de Tecnologia"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2022/06/08/15/23/ceramics-7250708_1280.jpg" descricaoImg="" descricao="O artesanato é uma forma de expressão criativa e uma habilidade que tem ganhado..." titulo="Aprenda Artesanato e Transforme em Renda extra"  />
        <BlogArticle link="/" date="" foto="/images/blog/escrita.jpg" descricaoImg="" descricao="Passar em um concurso público é o sonho de muitas pessoas em busca de estabilidade e um futuro profissional promissor..." titulo="Como Escolher o Curso Certo para Passar"  />

        <BlogArticle link="/" date="" foto="/images/blog/boneca.jpg" descricaoImg="" descricao="Nunca se valorizou tanto o que é único, feito com alma e propósito. Em um mundo saturado de..." titulo="Artesanato está Transformando a Renda"  />
        <BlogArticle link="/" date="" foto="https://cdn.pixabay.com/photo/2016/11/29/12/30/phone-1869510_960_720.jpg" descricaoImg="" descricao="Nos últimos anos, a tecnologia deixou de ser apenas um recurso de empresas consolidadas para tornar-se o principal motor..." titulo="Como a Tecnologia Está Gerando Autonomia"  />
        <BlogArticle link="/" date="" foto="/images/blog/procastinacao.jpeg" descricaoImg="" descricao="Você já disse para si mesmo “depois eu faço”? Pois é. Essa frase, aparentemente inofensiva, tem um preço silencioso..." titulo="Procrastinação: Como Vencer o Hábito"  />
    </div>
</Container>

<style>
    .grid {
        padding: 6.8vh 0;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 16px;
    }

    @media (max-width: 768px) {
        .grid {
            padding: 6.8vh 2.8vh;
            grid-template-columns: 1fr;
        }
    }
</style>