---
import Container from "../components/Container.astro";
import Links from "../components/Links.astro";
---

<div>
    <Container justify="center" >
        <h3>💣 Comece agora a Buscar o Conhecimento 🔥</h3>
        <Links href="">Inscrever-se</Links>
    </Container>
</div>

<style>
    div {
        z-index: 1;
        position: relative;
        background-color: rgb(255, 238, 0);
        padding: 22px;
        height: 100%;
        box-shadow: rgba(0, 0, 0, 0.315) 0px 4px 12px;
        color: rgb(26, 26, 29)
    }

    h3 {
        margin-right: 12px;
    }

    @media (max-width: 768px) {
        h3 {
            font-size: 14px;
            margin-right: 0px;
            text-align: center;
        }

        div {
            padding: 16px;
        }
    }

</style>